swagger: "2.0"
info:
  version: "1.0.0"
  title: "app-notifications-api-prod"
host: "api.seobooker.com"
basePath: "/app-notifications"
schemes:
- "https"
tags:
- name: "app-notifications"
  description: "app-notifications API"
  externalDocs:
    description: "Find out more"
    url: "https://docs.example.com"
paths:
  /app-notifications:
    get:
      tags: 
        - app-notifications
      summary: "Retrieve all app-notifications"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
      
      x-amazon-apigateway-integration: 
        uri: "arn:aws:apigateway::lambda:path/2015-03-31/functions/arn:aws:lambda::703387863451:function:seobooker-get-app-notifications-prod/invocations"
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: "##  See http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html\n\
            ##  This template will pass through all parameters including path, querystring,\
            \ header, stage variables, and context through to the integration endpoint\
            \ via the body/payload\n#set($allParams = $input.params())\n{\n\"body\"\
            \ : $input.json('$'),\n\"params\" : {\n#foreach($type in $allParams.keySet())\n\
            \    #set($params = $allParams.get($type))\n\"$type\" : {\n    #foreach($paramName\
            \ in $params.keySet())\n    \"$paramName\" : \"$util.escapeJavaScript($params.get($paramName))\"\
            \n        #if($foreach.hasNext),#end\n    #end\n}\n    #if($foreach.hasNext),#end\n\
            #end\n},\n\"stage-variables\" : {\n#foreach($key in $stageVariables.keySet())\n\
            \"$key\" : \"$util.escapeJavaScript($stageVariables.get($key))\"\n   \
            \ #if($foreach.hasNext),#end\n#end\n},\n\"context\" : {\n    \"account-id\"\
            \ : \"$context.identity.accountId\",\n    \"api-id\" : \"$context.apiId\"\
            ,\n    \"api-key\" : \"$context.identity.apiKey\",\n    \"sub\" : \"$context.authorizer.sub\"\
            ,\n    \"username\" : \"$context.authorizer.username\",\n    \"email\"\
            : \"$context.authorizer.email\",\n    \"role\"\
            : \"$context.authorizer.role\",\n    \"userPoolId\"\
            : \"$context.authorizer.userPoolId\",\n    \"principalId\" : \"$context.authorizer.\"\
            ,\n    \"caller\" : \"$context.identity.caller\",\n    \"cognito-authentication-provider\"\
            \ : \"$context.identity.cognitoAuthenticationProvider\",\n    \"cognito-authentication-type\"\
            \ : \"$context.identity.cognitoAuthenticationType\",\n    \"cognito-identity-id\"\
            \ : \"$context.identity.cognitoIdentityId\",\n    \"cognito-identity-pool-id\"\
            \ : \"$context.identity.cognitoIdentityPoolId\",\n    \"http-method\"\
            \ : \"$context.httpMethod\",\n    \"stage\" : \"$context.stage\",\n  \
            \  \"source-ip\" : \"$context.identity.sourceIp\",\n    \"user\" : \"\
            $context.identity.user\",\n    \"user-agent\" : \"$context.identity.userAgent\"\
            ,\n    \"user-arn\" : \"$context.identity.userArn\",\n    \"request-id\"\
            \ : \"$context.requestId\",\n    \"resource-id\" : \"$context.resourceId\"\
            ,\n    \"resource-path\" : \"$context.resourcePath\"\n    }\n}\n"
        passthroughBehavior: "when_no_templates"
        httpMethod: "POST"
        contentHandling: "CONVERT_TO_TEXT"
        type: "aws"
    post:
      tags: 
        - app-notifications
      summary: "Add a new item"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
      
      x-amazon-apigateway-integration:
        uri: "arn:aws:apigateway::lambda:path/2015-03-31/functions/arn:aws:lambda::703387863451:function:seobooker-create-app-notification-prod/invocations"
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: "##  See http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html\n\
            ##  This template will pass through all parameters including path, querystring,\
            \ header, stage variables, and context through to the integration endpoint\
            \ via the body/payload\n#set($allParams = $input.params())\n{\n\"body\"\
            \ : $input.json('$'),\n\"params\" : {\n#foreach($type in $allParams.keySet())\n\
            \    #set($params = $allParams.get($type))\n\"$type\" : {\n    #foreach($paramName\
            \ in $params.keySet())\n    \"$paramName\" : \"$util.escapeJavaScript($params.get($paramName))\"\
            \n        #if($foreach.hasNext),#end\n    #end\n}\n    #if($foreach.hasNext),#end\n\
            #end\n},\n\"stage-variables\" : {\n#foreach($key in $stageVariables.keySet())\n\
            \"$key\" : \"$util.escapeJavaScript($stageVariables.get($key))\"\n   \
            \ #if($foreach.hasNext),#end\n#end\n},\n\"context\" : {\n    \"account-id\"\
            \ : \"$context.identity.accountId\",\n    \"api-id\" : \"$context.apiId\"\
            ,\n    \"api-key\" : \"$context.identity.apiKey\",\n    \"sub\" : \"$context.authorizer.sub\"\
            ,\n    \"username\" : \"$context.authorizer.username\",\n    \"email\"\
            : \"$context.authorizer.email\",\n    \"role\"\
            : \"$context.authorizer.role\",\n    \"userPoolId\"\
            : \"$context.authorizer.userPoolId\",\n    \"principalId\" : \"$context.authorizer.\"\
            ,\n    \"caller\" : \"$context.identity.caller\",\n    \"cognito-authentication-provider\"\
            \ : \"$context.identity.cognitoAuthenticationProvider\",\n    \"cognito-authentication-type\"\
            \ : \"$context.identity.cognitoAuthenticationType\",\n    \"cognito-identity-id\"\
            \ : \"$context.identity.cognitoIdentityId\",\n    \"cognito-identity-pool-id\"\
            \ : \"$context.identity.cognitoIdentityPoolId\",\n    \"http-method\"\
            \ : \"$context.httpMethod\",\n    \"stage\" : \"$context.stage\",\n  \
            \  \"source-ip\" : \"$context.identity.sourceIp\",\n    \"user\" : \"\
            $context.identity.user\",\n    \"user-agent\" : \"$context.identity.userAgent\"\
            ,\n    \"user-arn\" : \"$context.identity.userArn\",\n    \"request-id\"\
            \ : \"$context.requestId\",\n    \"resource-id\" : \"$context.resourceId\"\
            ,\n    \"resource-path\" : \"$context.resourcePath\"\n    }\n}\n"
        passthroughBehavior: "when_no_templates"
        httpMethod: "POST"
        contentHandling: "CONVERT_TO_TEXT"
        type: "aws"
    options:
      tags: 
        - app-notifications
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'DELETE,GET,HEAD,OPTIONS,PATCH,POST,PUT'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        passthroughBehavior: "when_no_templates"
        requestTemplates:
          application/json: "{\"statusCode\": 200}"
        type: "mock"
  /app-notifications/{id}:
    get:
      tags: 
        - app-notifications
      summary: "Retrieve all details for a given app-notification"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
      
      x-amazon-apigateway-integration:
        uri: "arn:aws:apigateway::lambda:path/2015-03-31/functions/arn:aws:lambda::703387863451:function:seobooker-get-app-notification-details-prod/invocations"
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestParameters:
          integration.request.path.id: "method.request.path.id"
        requestTemplates:
          application/json: "##  See http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html\n\
            ##  This template will pass through all parameters including path, querystring,\
            \ header, stage variables, and context through to the integration endpoint\
            \ via the body/payload\n#set($allParams = $input.params())\n{\n\"body\"\
            \ : $input.json('$'),\n\"params\" : {\n#foreach($type in $allParams.keySet())\n\
            \    #set($params = $allParams.get($type))\n\"$type\" : {\n    #foreach($paramName\
            \ in $params.keySet())\n    \"$paramName\" : \"$util.escapeJavaScript($params.get($paramName))\"\
            \n        #if($foreach.hasNext),#end\n    #end\n}\n    #if($foreach.hasNext),#end\n\
            #end\n},\n\"stage-variables\" : {\n#foreach($key in $stageVariables.keySet())\n\
            \"$key\" : \"$util.escapeJavaScript($stageVariables.get($key))\"\n   \
            \ #if($foreach.hasNext),#end\n#end\n},\n\"context\" : {\n    \"account-id\"\
            \ : \"$context.identity.accountId\",\n    \"api-id\" : \"$context.apiId\"\
            ,\n    \"api-key\" : \"$context.identity.apiKey\",\n    \"sub\" : \"$context.authorizer.sub\"\
            ,\n    \"username\" : \"$context.authorizer.username\",\n    \"email\"\
            : \"$context.authorizer.email\",\n    \"role\"\
            : \"$context.authorizer.role\",\n    \"userPoolId\"\
            : \"$context.authorizer.userPoolId\",\n    \"principalId\" : \"$context.authorizer.\"\
            ,\n    \"caller\" : \"$context.identity.caller\",\n    \"cognito-authentication-provider\"\
            \ : \"$context.identity.cognitoAuthenticationProvider\",\n    \"cognito-authentication-type\"\
            \ : \"$context.identity.cognitoAuthenticationType\",\n    \"cognito-identity-id\"\
            \ : \"$context.identity.cognitoIdentityId\",\n    \"cognito-identity-pool-id\"\
            \ : \"$context.identity.cognitoIdentityPoolId\",\n    \"http-method\"\
            \ : \"$context.httpMethod\",\n    \"stage\" : \"$context.stage\",\n  \
            \  \"source-ip\" : \"$context.identity.sourceIp\",\n    \"user\" : \"\
            $context.identity.user\",\n    \"user-agent\" : \"$context.identity.userAgent\"\
            ,\n    \"user-arn\" : \"$context.identity.userArn\",\n    \"request-id\"\
            \ : \"$context.requestId\",\n    \"resource-id\" : \"$context.resourceId\"\
            ,\n    \"resource-path\" : \"$context.resourcePath\"\n    }\n}\n"
        passthroughBehavior: "when_no_templates"
        httpMethod: "POST"
        contentHandling: "CONVERT_TO_TEXT"
        type: "aws"
    put:
      tags: 
        - app-notifications
      summary: "Update details for a given item"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
      
      x-amazon-apigateway-integration:
        uri: "arn:aws:apigateway::lambda:path/2015-03-31/functions/arn:aws:lambda::703387863451:function:seobooker-update-app-notification-prod/invocations"
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestParameters:
          integration.request.path.id: "method.request.path.id"
        requestTemplates:
          application/json: "##  See http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html\n\
            ##  This template will pass through all parameters including path, querystring,\
            \ header, stage variables, and context through to the integration endpoint\
            \ via the body/payload\n#set($allParams = $input.params())\n{\n\"body\"\
            \ : $input.json('$'),\n\"params\" : {\n#foreach($type in $allParams.keySet())\n\
            \    #set($params = $allParams.get($type))\n\"$type\" : {\n    #foreach($paramName\
            \ in $params.keySet())\n    \"$paramName\" : \"$util.escapeJavaScript($params.get($paramName))\"\
            \n        #if($foreach.hasNext),#end\n    #end\n}\n    #if($foreach.hasNext),#end\n\
            #end\n},\n\"stage-variables\" : {\n#foreach($key in $stageVariables.keySet())\n\
            \"$key\" : \"$util.escapeJavaScript($stageVariables.get($key))\"\n   \
            \ #if($foreach.hasNext),#end\n#end\n},\n\"context\" : {\n    \"account-id\"\
            \ : \"$context.identity.accountId\",\n    \"api-id\" : \"$context.apiId\"\
            ,\n    \"api-key\" : \"$context.identity.apiKey\",\n    \"sub\" : \"$context.authorizer.sub\"\
            ,\n    \"username\" : \"$context.authorizer.username\",\n    \"email\"\
            : \"$context.authorizer.email\",\n    \"role\"\
            : \"$context.authorizer.role\",\n    \"userPoolId\"\
            : \"$context.authorizer.userPoolId\",\n    \"principalId\" : \"$context.authorizer.\"\
            ,\n    \"caller\" : \"$context.identity.caller\",\n    \"cognito-authentication-provider\"\
            \ : \"$context.identity.cognitoAuthenticationProvider\",\n    \"cognito-authentication-type\"\
            \ : \"$context.identity.cognitoAuthenticationType\",\n    \"cognito-identity-id\"\
            \ : \"$context.identity.cognitoIdentityId\",\n    \"cognito-identity-pool-id\"\
            \ : \"$context.identity.cognitoIdentityPoolId\",\n    \"http-method\"\
            \ : \"$context.httpMethod\",\n    \"stage\" : \"$context.stage\",\n  \
            \  \"source-ip\" : \"$context.identity.sourceIp\",\n    \"user\" : \"\
            $context.identity.user\",\n    \"user-agent\" : \"$context.identity.userAgent\"\
            ,\n    \"user-arn\" : \"$context.identity.userArn\",\n    \"request-id\"\
            \ : \"$context.requestId\",\n    \"resource-id\" : \"$context.resourceId\"\
            ,\n    \"resource-path\" : \"$context.resourcePath\"\n    }\n}\n"
        passthroughBehavior: "when_no_templates"
        httpMethod: "POST"
        contentHandling: "CONVERT_TO_TEXT"
        type: "aws"
    delete:
      tags: 
        - app-notifications
      summary: "Delete a given item"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
      
      x-amazon-apigateway-integration:
        uri: "arn:aws:apigateway::lambda:path/2015-03-31/functions/arn:aws:lambda::703387863451:function:seobooker-delete-app-notification-prod/invocations"
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestParameters:
          integration.request.path.id: "method.request.path.id"
        requestTemplates:
          application/json: "##  See http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html\n\
            ##  This template will pass through all parameters including path, querystring,\
            \ header, stage variables, and context through to the integration endpoint\
            \ via the body/payload\n#set($allParams = $input.params())\n{\n\"body\"\
            \ : $input.json('$'),\n\"params\" : {\n#foreach($type in $allParams.keySet())\n\
            \    #set($params = $allParams.get($type))\n\"$type\" : {\n    #foreach($paramName\
            \ in $params.keySet())\n    \"$paramName\" : \"$util.escapeJavaScript($params.get($paramName))\"\
            \n        #if($foreach.hasNext),#end\n    #end\n}\n    #if($foreach.hasNext),#end\n\
            #end\n},\n\"stage-variables\" : {\n#foreach($key in $stageVariables.keySet())\n\
            \"$key\" : \"$util.escapeJavaScript($stageVariables.get($key))\"\n   \
            \ #if($foreach.hasNext),#end\n#end\n},\n\"context\" : {\n    \"account-id\"\
            \ : \"$context.identity.accountId\",\n    \"api-id\" : \"$context.apiId\"\
            ,\n    \"api-key\" : \"$context.identity.apiKey\",\n    \"sub\" : \"$context.authorizer.sub\"\
            ,\n    \"username\" : \"$context.authorizer.username\",\n    \"email\"\
            : \"$context.authorizer.email\",\n    \"role\"\
            : \"$context.authorizer.role\",\n    \"userPoolId\"\
            : \"$context.authorizer.userPoolId\",\n    \"principalId\" : \"$context.authorizer.\"\
            ,\n    \"caller\" : \"$context.identity.caller\",\n    \"cognito-authentication-provider\"\
            \ : \"$context.identity.cognitoAuthenticationProvider\",\n    \"cognito-authentication-type\"\
            \ : \"$context.identity.cognitoAuthenticationType\",\n    \"cognito-identity-id\"\
            \ : \"$context.identity.cognitoIdentityId\",\n    \"cognito-identity-pool-id\"\
            \ : \"$context.identity.cognitoIdentityPoolId\",\n    \"http-method\"\
            \ : \"$context.httpMethod\",\n    \"stage\" : \"$context.stage\",\n  \
            \  \"source-ip\" : \"$context.identity.sourceIp\",\n    \"user\" : \"\
            $context.identity.user\",\n    \"user-agent\" : \"$context.identity.userAgent\"\
            ,\n    \"user-arn\" : \"$context.identity.userArn\",\n    \"request-id\"\
            \ : \"$context.requestId\",\n    \"resource-id\" : \"$context.resourceId\"\
            ,\n    \"resource-path\" : \"$context.resourcePath\"\n    }\n}\n"
        passthroughBehavior: "when_no_templates"
        httpMethod: "POST"
        contentHandling: "CONVERT_TO_TEXT"
        type: "aws"
    options:
      tags: 
        - app-notifications
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'DELETE,GET,HEAD,OPTIONS,PATCH,POST,PUT'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        passthroughBehavior: "when_no_templates"
        requestTemplates:
          application/json: "{\"statusCode\": 200}"
        type: "mock"
securityDefinitions:
  api-authorizer:
    type: "apiKey"
    name: "Authorization"
    in: "header"
    x-amazon-apigateway-authtype: "custom"
    x-amazon-apigateway-authorizer:
      authorizerUri: "arn:aws:apigateway::lambda:path/2015-03-31/functions/arn:aws:lambda::703387863451:function:seobooker-app-notifications-api-authorizer-prod/invocations"
      authorizerCredentials: "arn:aws:iam::703387863451:role/seobooker-app-notifications-api-authorizer-invocation-role-prod"
      authorizerResultTtlInSeconds: 300
      type: "token"
definitions:
  Empty:
    type: "object"
    title: "Empty Schema"